@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 200;
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
}

.clock {
  color: white;
}

.weather {
  color: white;
}

.search {
  color: white;
}
